body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: url('https://img.freepik.com/free-vector/mathematical-geometric-background-vector-gradient-blue-education-remix_53876-114100.jpg?w=996&t=st=1720677725~exp=1720678325~hmac=ec56bd43471c0f6981b1f629eb0d51ebd1025f903a0616c01a06b2ff37950af3') no-repeat center center fixed;
    background-size:cover ;
    font-family: Arial, sans-serif;
    margin: 0;
}

.calculator {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    width: 300px;
}

.display {
    font-size: 2em;
    margin-bottom: 20px;
    padding: 10px;
    background-color: #eeeff0;
    border-radius: 5px;
    text-align: right;
    overflow: hidden;
    white-space: nowrap;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

.btn {
    font-size: 1.5em;
    padding: 20px;
    background-color: #f9f9f9;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: #e0e0e0;
}

.btn:active {
    background-color: #d0d0d0;
}
